Content/
Binaries/
.idea/
.vs/
Intermediate/
Saved/
packages/boost.1.79.0/.signature.p7s
packages/boost.1.79.0/boost.1.79.0.nupkg
packages/boost.1.79.0/build/boost.targets
/Plugins/ThirdPartyLibs/
/Plugins/
/Plugins/ThirdPartyLibs/Source/ThirdParty/BoostLibrary/include/boost-1_79/
